:root{
    --colorBtn: #f14902;
}


body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Componentes Globales */
.colorBtn{
    background-color: var(--colorBtn);
}

/* Codigo HomePage Alias JJ */´
main{
    flex-grow: 1;
}
#caruselOfertaImg{
    width: 100%;
    object-fit: cover;
    height: 700px;
}
#boton{
    border-radius: 50%;
}

.translateArrowLg{
    transform: translate(0px, 25px);
}

.translateArrow{
    transform: translate(0px, 29px);
}


.widthNine{
    width: 90%;
}

.heightBtn{
    height: 50px;
}

.btnReset{
    width: 0;
    height: 0;
    border: none;
    background-color: white;
}

.marginBtn{
    margin-bottom: -40px;
}

.marginTopping{
    margin-top: -29px;
}
